/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
nav {
  color: white;
  background-color: black;
}
nav > ul {
  list-style-type: none;
  display:grid;
  grid-auto-flow:column;
  padding-top: 10px;
  padding-bottom: 10px;
}

header {
  display:grid;
  grid-auto-flow: column;
  padding-bottom: 10px;
}

header > span > a {
  text-decoration: none;
  font-size: x-large;
  color: black;
}
header > div {
  text-align: right;
}
header > div > a {
  text-decoration: none;
  color: black;
}